body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: auto;
  font-family: "InterLight"; /* Change to InterExtraLight on Windows to make similar to Figma */
  font-weight: 300;
  font-size: 20px;
}

@font-face {
  font-family: InterBlack;
  src: url(/src/Assets/Fonts/Inter-Black.ttf);
}
@font-face {
  font-family: InterExtraBold;
  src: url(/src/Assets/Fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: InterBold;
  src: url(/src/Assets/Fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: InterRegular;
  src: url(/src/Assets/Fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: InterLight;
  src: url(/src/Assets/Fonts/Inter-Light.ttf);
}
@font-face {
  font-family: InterExtraLight;
  src: url(/src/Assets/Fonts/Inter-ExtraLight.ttf);
}
@font-face {
  font-family: InterThin;
  src: url(/src/Assets/Fonts/Inter-Thin.ttf);
}


